body{
    margin: 0 auto;
    background: coral;
    }
    h1{
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    div{
    width: 414px;
    height: 414px;
    position: fixed;
    top: calc(50vh - 180px);
    left: calc(50vw - 207px);
    background: whitesmoke;
    box-sizing: border-box;
    border: 1px solid black;
    }

    #ball1{
    width: 30px;
    height: 30px;
    background-color:red;
    border-radius:15px;
    animation-name: anima1;
    animation-duration: 5s;		
    animation-iteration-count: infinite;
    }

    @keyframes anima1 {
    0%   {transform:translate(190px, 0);}
    20%   {transform:translate(0,380px);}
    40%   {transform:translate(380px,190px);}
    60%   {transform:translate(0,190px);}
    80%   {transform:translate(380px,380px);}
    100%   {transform:translate(190px, 0);}
    }

    #ball2{
    width: 30px;
    height: 30px;
    background-color: blue;
    border-radius:15px;
    animation-name: anima2;
    animation-duration: 5s;		
    animation-iteration-count: infinite;   
    }

    @keyframes anima2 {
    0%   {transform:translate(190px, 380px);}
    20%   {transform:translate(380px,0px);}
    40%   {transform:translate(0px,190px);}
    60%   {transform:translate(380px,190px);}
    80%   {transform:translate(0px,0px);}
    100%   {transform:translate(190px, 380px);}
    }

    #ball3{
    width: 30px;
    height: 30px;
    background-color: green;
    border-radius:15px;
    animation-name: anima3;
    animation-duration: 5s;		
    animation-iteration-count: infinite;  
    }

    @keyframes anima3 {
    0%   {transform:translate(380px, 190px);}
    20%   {transform:translate(0,0);}
    40%   {transform:translate(190px,380px);}
    60%   {transform:translate(190px,0px);}
    80%   {transform:translate(0px,380px);}
    100%   {transform:translate(380px, 190px);}
    }

    #ball4{
    width: 30px;
    height: 30px;
    background-color: yellow;
    border-radius:15px;
    animation-name: anima4;
    animation-duration: 5s;		
    animation-iteration-count: infinite;
    }

    @keyframes anima4 {
    0%   {transform:translate(0px, 190px);}
    20%   {transform:translate(380px,380px);}
    40%   {transform:translate(190px,0px);}
    60%   {transform:translate(190px,380px);}
    80%   {transform:translate(380px,0px);}
    100%   {transform:translate(0px, 190px);}
    }

    #ball5{
    width: 30px;
    height: 30px;
    background-color: orange;
    border-radius: 15px;
    animation-name: anima5;
    animation-duration: 5s;		
    animation-iteration-count: infinite;
    }

    @keyframes anima5 {
    0%   {transform:translate(190px, 0px);}
    25%   {transform:translate(0px,190px);}
    50%   {transform:translate(190px, 380px);}
    75%   {transform:translate(380px, 190px);}
    100%   {transform:translate(190px, 0px);}
    }

    #ball6{
    width: 30px;
    height: 30px;
    background-color: violet;
    border-radius: 15px;
    animation-name: anima6;
    animation-duration: 5s;		
    animation-iteration-count: infinite;
    }

    @keyframes anima6 {
    0%   {transform:translate(190px, 380px);}
    25%   {transform:translate(380px,190px);}
    50%   {transform:translate(190px, 0px);}
    75%   {transform:translate(0px, 190px);}
    100%   {transform:translate(190px, 380px);}
    }

    #ball7{
    width: 30px;
    height: 30px;
    background-color: gold;
    border-radius: 15px;
    animation-name: anima7;
    animation-duration: 5s;		
    animation-iteration-count: infinite;
    }

    @keyframes anima7 {
    0%   {transform:translate(0px, 190px);}
    25%   {transform:translate(190px, 0px);}
    50%   {transform:translate(380px, 190px);}
    75%   {transform:translate(190px, 380px);}
    100%   {transform:translate(0px, 190px);}
    }

    #ball8{
    width: 30px;
    height: 30px;
    background-color: greenyellow;
    border-radius: 15px;
    animation-name: anima8;
    animation-duration: 5s;		
    animation-iteration-count: infinite;
    }

    @keyframes anima8 {
    0%   {transform:translate(380px, 190px);}
    25%   {transform:translate(190px, 0px);}
    50%   {transform:translate(0px, 190px);}
    75%   {transform:translate(190px, 380px);}
    100%   {transform:translate(380px, 190px);}
    }

    #ball10{
    width: 30px;
    height: 30px;
    background-color: palevioletred;
    border-radius: 15px;
    animation-name: anima10;
    animation-duration: 5s;		
    animation-iteration-count: infinite;
    }

    @keyframes anima10 {
    0%   {transform:translate(190px, 90px);}
    1.66%   {transform:translate(175px, 92.5px);}
    3.33%   {transform:translate(160px, 95px);}
    5%   {transform:translate(155px, 97.5px);}
    6.66%   {transform:translate(145px, 100px);}
    8.33%   {transform:translate(135px, 105px);}
    10%   {transform:translate(130px, 110px);}
    11.66%   {transform:translate(125px, 115px);}
    13.33%   {transform:translate(115px, 120px);}
    15%   {transform:translate(110px, 125px);}
    16.66%   {transform:translate(105px, 135px);}
    18.33%   {transform:translate(100px, 145px);}
    20%   {transform:translate(97.5px, 152.5px);}
    21.66%   {transform:translate(95px, 160px);}
    23.33%   {transform:translate(92.5px, 175px);}
    25%   {transform:translate(90px, 190px);}
    26.66%   {transform:translate(92.5px, 205px);}
    28.33%   {transform:translate(95px, 220px);}
    30%   {transform:translate(97.5px, 227.5px);}
    31.66%   {transform:translate(100px, 235px);}
    33.33%   {transform:translate(105px, 245px);}
    35%   {transform:translate(110px, 255px);}
    36.66%   {transform:translate(115px, 260px);}
    38.33%   {transform:translate(125px, 265px);}
    40%   {transform:translate(130px, 270px);}
    41.66%   {transform:translate(135px, 275px);}
    43.33%   {transform:translate(145px, 280px);}
    45%   {transform:translate(155px, 282.5px);}
    46.66%   {transform:translate(160px, 285px);}
    48.33%   {transform:translate(175px, 287.5px);}
    50%   {transform:translate(190px, 290px);}
    51.66%   {transform:translate(205px, 287.5px);}
    53.33%   {transform:translate(220px, 285px);}
    55%   {transform:translate(225px, 282.5px);}
    56.66%   {transform:translate(235px, 280px);}
    58.33%   {transform:translate(245px, 275px);}
    60%   {transform:translate(250px, 270px);}
    61.66%   {transform:translate(255px, 265px);}
    63.33%   {transform:translate(265px, 260px);}
    65%   {transform:translate(270px, 255px);}
    66.66%   {transform:translate(275px, 245px);}
    68.33%   {transform:translate(280px, 235px);}
    70%   {transform:translate(282.5px, 227.5px);}
    71.66%   {transform:translate(285px, 220px);}
    73.33%   {transform:translate(287.5px, 205px);}
    75%   {transform:translate(290px, 190px);}
    76.66%   {transform:translate(287.5px, 175px);}
    78.33%   {transform:translate(285px, 160px);}
    80%   {transform:translate(282.5px, 152.5px);}
    81.66%   {transform:translate(280px, 145px);}
    83.33%   {transform:translate(275px, 135px);}
    85%   {transform:translate(270px, 125px);}
    86.66%   {transform:translate(265px, 120px);}
    88.33%   {transform:translate(255px, 115px);}
    90%   {transform:translate(250px, 110px);}
    91.66%   {transform:translate(245px, 105px);}
    93.33%   {transform:translate(235px, 100px);}
    95%   {transform:translate(225px, 97.5px);}
    96.66%   {transform:translate(220px, 95px);}
    98.33%   {transform:translate(205px, 92.5px);}
    100%   {transform:translate(190px, 90px);}
    }


    #ball20{
    width: 30px;
    height: 30px;
    background-color: yellowgreen;
    border-radius: 15px;
    animation-name: anima20;
    animation-duration: 5s;		
    animation-iteration-count: infinite;
    }

    @keyframes anima20 {
    100%   {transform:translate(190px, 90px);}
    98.33%   {transform:translate(175px, 92.5px);}
    96.66%   {transform:translate(160px, 95px);}
    95%   {transform:translate(155px, 97.5px);}
    93.33%   {transform:translate(145px, 100px);}
    91.66%   {transform:translate(135px, 105px);}
    90%   {transform:translate(130px, 110px);}
    88.33%   {transform:translate(125px, 115px);}
    86.66%   {transform:translate(115px, 120px);}
    85%   {transform:translate(110px, 125px);}
    83.33%   {transform:translate(105px, 135px);}
    81.66%   {transform:translate(100px, 145px);}
    80%   {transform:translate(97.5px, 152.5px);}
    78.33%   {transform:translate(95px, 160px);}
    76.66%   {transform:translate(92.5px, 175px);}
    75%   {transform:translate(90px, 190px);}
    73.33%   {transform:translate(92.5px, 205px);}
    71.66%   {transform:translate(95px, 220px);}
    70%   {transform:translate(97.5px, 227.5px);}
    68.33%   {transform:translate(100px, 235px);}
    66.66%   {transform:translate(105px, 245px);}
    65%   {transform:translate(110px, 255px);}
    63.33%   {transform:translate(115px, 260px);}
    61.66%   {transform:translate(125px, 265px);}
    60%   {transform:translate(130px, 270px);}
    58.33%   {transform:translate(135px, 275px);}
    56.33%   {transform:translate(145px, 280px);}
    55%   {transform:translate(155px, 282.5px);}
    53.33%   {transform:translate(160px, 285px);}
    51.66%   {transform:translate(175px, 287.5px);}
    50%   {transform:translate(190px, 290px);}
    48.33%   {transform:translate(205px, 287.5px);}
    46.66%   {transform:translate(220px, 285px);}
    45%   {transform:translate(225px, 282.5px);}
    43.33%   {transform:translate(235px, 280px);}
    41.66%   {transform:translate(245px, 275px);}
    40%   {transform:translate(250px, 270px);}
    38.33%   {transform:translate(255px, 265px);}
    36.66%   {transform:translate(265px, 260px);}
    35%   {transform:translate(270px, 255px);}
    33.33%   {transform:translate(275px, 245px);}
    31.66%   {transform:translate(280px, 235px);}
    30%   {transform:translate(282.5px, 227.5px);}
    28.33%   {transform:translate(285px, 220px);}
    26.66%   {transform:translate(287.5px, 205px);}
    25%   {transform:translate(290px, 190px);}
    23.33%   {transform:translate(287.5px, 175px);}
    21.66%   {transform:translate(285px, 160px);}
    20%   {transform:translate(282.5px, 152.5px);}
    18.33%   {transform:translate(280px, 145px);}
    16.66%   {transform:translate(275px, 135px);}
    15%   {transform:translate(270px, 125px);}
    13.33%   {transform:translate(265px, 120px);}
    11.66%   {transform:translate(255px, 115px);}
    10%   {transform:translate(250px, 110px);}
    8.33%   {transform:translate(245px, 105px);}
    6.66%   {transform:translate(235px, 100px);}
    5%   {transform:translate(225px, 97.5px);}
    3.33%   {transform:translate(220px, 95px);}
    1.66%   {transform:translate(205px, 92.5px);}
    0%   {transform:translate(190px, 90px);}
    } 

    #ball30{
    width: 30px;
    height: 30px;
    background-color: orangered;
    border-radius: 15px;
    animation-name: anima30;
    animation-duration: 5s;		
    animation-iteration-count: infinite;
    }

    @keyframes anima30 {
    0%   {transform:translate(90px, 190px);}
    1.66%   {transform:translate(92.5px, 205px);}
    3.33 %   {transform:translate(95px, 220px);}
    5%   {transform:translate(97.5px, 227.5px);}
    6.66%   {transform:translate(100px, 235px);}
    8.33%   {transform:translate(105px, 245px);}
    10%   {transform:translate(110px, 255px);}
    11.66%   {transform:translate(115px, 260px);}
    13.33%   {transform:translate(125px, 265px);}
    15%   {transform:translate(130px, 270px);}
    16.66%   {transform:translate(135px, 275px);}
    18.33%   {transform:translate(145px, 280px);}
    20%   {transform:translate(155px, 282.5px);}
    21.66%   {transform:translate(160px, 285px);}
    23.33%   {transform:translate(175px, 287.5px);}
    25%   {transform:translate(190px, 290px);}
    26.66%   {transform:translate(205px, 287.5px);}
    28.33%   {transform:translate(220px, 285px);}
    30%   {transform:translate(225px, 282.5px);}
    31.66%   {transform:translate(235px, 280px);}
    33.33%   {transform:translate(245px, 275px);}
    35%   {transform:translate(250px, 270px);}
    36.66%   {transform:translate(255px, 265px);}
    38.33%   {transform:translate(265px, 260px);}
    40%   {transform:translate(270px, 255px);}
    41.66%   {transform:translate(275px, 245px);}
    43.33%   {transform:translate(280px, 235px);}
    45%   {transform:translate(282.5px, 227.5px);}
    46.66%   {transform:translate(285px, 220px);}
    48.33%   {transform:translate(287.5px, 205px);}
    50%   {transform:translate(290px, 190px);}
    51.66%   {transform:translate(287.5px, 175px);}
    53.33%   {transform:translate(285px, 160px);}
    55%   {transform:translate(282.5px, 152.5px);}
    56.66%   {transform:translate(280px, 145px);}
    58.33%   {transform:translate(275px, 135px);}
    60%   {transform:translate(270px, 125px);}
    61.66%   {transform:translate(265px, 120px);}
    63.33%   {transform:translate(255px, 115px);}
    65%   {transform:translate(250px, 110px);}
    66.66%   {transform:translate(245px, 105px);}
    68.33%   {transform:translate(235px, 100px);}
    70%   {transform:translate(225px, 97.5px);}
    71.66%   {transform:translate(220px, 95px);}
    73.33%   {transform:translate(205px, 92.5px);}
    75%   {transform:translate(190px, 90px);}
    76.66%   {transform:translate(175px, 92.5px);}
    78.33%   {transform:translate(160px, 95px);}
    80%   {transform:translate(155px, 97.5px);}
    81.66%   {transform:translate(145px, 100px);}
    83.33%   {transform:translate(135px, 105px);}
    85%   {transform:translate(130px, 110px);}
    86.66%   {transform:translate(125px, 115px);}
    88.33%   {transform:translate(115px, 120px);}
    90%   {transform:translate(110px, 125px);}
    91.66%   {transform:translate(105px, 135px);}
    93.33%   {transform:translate(100px, 145px);}
    95%   {transform:translate(97.5px, 152.5px);}
    96.66%   {transform:translate(95px, 160px);}
    98.33%   {transform:translate(92.5px, 175px);}
    100%   {transform:translate(90px, 190px);}
    }

    #ball40{
    width: 30px;
    height: 30px;
    background-color: brown;
    border-radius: 15px;
    animation-name: anima40;
    animation-duration: 5s;		
    animation-iteration-count: infinite;
    }

    @keyframes anima40 {
    100%   {transform:translate(90px, 190px);}
    98.33%   {transform:translate(92.5px, 205px);}
    96.66 %   {transform:translate(95px, 220px);}
    95%   {transform:translate(97.5px, 227.5px);}
    93.33%   {transform:translate(100px, 235px);}
    91.66%   {transform:translate(105px, 245px);}
    90%   {transform:translate(110px, 255px);}
    88.33%   {transform:translate(115px, 260px);}
    86.66%   {transform:translate(125px, 265px);}
    85%   {transform:translate(130px, 270px);}
    83.33%   {transform:translate(135px, 275px);}
    81.66%   {transform:translate(145px, 280px);}
    80%   {transform:translate(155px, 282.5px);}
    78.33%   {transform:translate(160px, 285px);}
    76.66%   {transform:translate(175px, 287.5px);}
    75%   {transform:translate(190px, 290px);}
    73.33%   {transform:translate(205px, 287.5px);}
    71.66%   {transform:translate(220px, 285px);}
    70%   {transform:translate(225px, 282.5px);}
    68.33%   {transform:translate(235px, 280px);}
    66.66%   {transform:translate(245px, 275px);}
    65%   {transform:translate(250px, 270px);}
    63.33%   {transform:translate(255px, 265px);}
    61.66%   {transform:translate(265px, 260px);}
    60%   {transform:translate(270px, 255px);}
    58.33%   {transform:translate(275px, 245px);}
    56.66%   {transform:translate(280px, 235px);}
    55%   {transform:translate(282.5px, 227.5px);}
    53.33%   {transform:translate(285px, 220px);}
    51.66%   {transform:translate(287.5px, 205px);}
    50%   {transform:translate(290px, 190px);}
    48.33%   {transform:translate(287.5px, 175px);}
    46.66%   {transform:translate(285px, 160px);}
    45%   {transform:translate(282.5px, 152.5px);}
    43.33%   {transform:translate(280px, 145px);}
    41.66%   {transform:translate(275px, 135px);}
    40%   {transform:translate(270px, 125px);}
    38.33%   {transform:translate(265px, 120px);}
    36.66%   {transform:translate(255px, 115px);}
    35%   {transform:translate(250px, 110px);}
    33.33%   {transform:translate(245px, 105px);}
    31.66%   {transform:translate(235px, 100px);}
    30%   {transform:translate(225px, 97.5px);}
    28.33%   {transform:translate(220px, 95px);}
    26.66%   {transform:translate(205px, 92.5px);}
    25%   {transform:translate(190px, 90px);}
    23.33%   {transform:translate(175px, 92.5px);}
    21.66%   {transform:translate(160px, 95px);}
    20%   {transform:translate(155px, 97.5px);}
    18.33%   {transform:translate(145px, 100px);}
    16.66%   {transform:translate(135px, 105px);}
    15%   {transform:translate(130px, 110px);}
    13.33%   {transform:translate(125px, 115px);}
    11.66%   {transform:translate(115px, 120px);}
    10%   {transform:translate(110px, 125px);}
    8.33%   {transform:translate(105px, 135px);}
    6.66%   {transform:translate(100px, 145px);}
    5%   {transform:translate(97.5px, 152.5px);}
    3.33%   {transform:translate(95px, 160px);}
    1.66%   {transform:translate(92.5px, 175px);}
    0%   {transform:translate(90px, 190px);}
    }